body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
	font-size: 12px;
}
.column{
	float: left;
	width: 48%;
}
.day-title{
	margin: 0 0 10px 0;
}

.day-table{
	margin-bottom: 40px;
  border-collapse: collapse;
  border: 1px solid black;
}
.day-table th, .day-table td{
  border: 1px solid black;
	padding: 4px;
}
.day-table thead{
	background-color: gray;
	color: white;
}

.main-form{
	padding-top: 10px;
}
.main-form label{
	display: block;
	margin: 0px 0 4px 0;
	font-weight: bold;
}
.main-form input{
	margin-bottom: 14px;
}
